*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(s1.avif);
    background-size: cover;
}

.calculator{
    border: 3px solid hsl(0, 0%, 7%);
    padding: 30px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(45, 202, 245, 0.5);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
   
    color: hsl(3, 97%, 55%);
}

input::placeholder{
    color: hsl(260, 97%, 46%);
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 30%;
    background: transparent;
    color: #040404;
    font-size: 25px;
    box-shadow: -8px -8px 15px hsla(184, 94%, 45%, 0.561);
    cursor: pointer;
}

.equalBtn{
    background-color: hsl(256, 97%, 53%);
}
.button{
    background-color:rgb(7, 197, 188) ;
}

.operator{
    color: #0e04d4;
}
.button:hover{
    color: rgb(222, 7, 18);
    transform: scale(1.1);
}